.add-btn {
    margin-bottom: 20px;
    width: max-content;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
}

.utilities-container {
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
}

.person-name-table {
    cursor: pointer;
}

.pagination-container {
    width: 18%;
    margin: 0 auto;
}

.page-number-label {
    margin-left: 10px;
    margin-right: 10px;
}
